<!DOCTYPE html>
<html ng-app="szama">
<head>
  <title>SzamaPwr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li>
    <a ng-href="#/payments">
      Payments
    </a>
  </li>
</ul>

<%= yield %>

</body>
</html>
